name: Docker Image CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['7.4', '8.0', '8.1', '8.2', '8.3', '8.4']
        include:
            - latest: true
              php: 8.4
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Populate Default Tag
        run: |
          echo "docker_tags=thats4shaw/silverstripe-deploy-node:${{ matrix.php }}" >> $GITHUB_ENV

      - if: ${{ matrix.latest }}
        name: Populate Latest Tag
        run: |
          echo "docker_tags=${{ env.docker_tags }},thats4shaw/silverstripe-deploy-node:latest" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: ./silverstripe-php-${{ matrix.php }}
          push: true
          tags: ${{ env.docker_tags }}
